@import '../../style/Vars.css';

.layout{
    height: "100%";
    display: "flex";
    flex-direction: "column";
    width: "100vw";
    &__main{
        background-color: $backgroundColor2;
        height: calc(95vh - 140px);
        padding: 2vw;
    }
}