//vars
$backgroundColor1: #2a2d36;
$backgroundColor2: #535353;
$colorBorder: #8c8f9e;
$backgroundElements: #a4a8b4;
$black: #000000;
$colorLogo: #7b7d83;
$colorHover1: #a05e08;
$colorHover2: #e88301;
$white: #ffffff


